.navbar{
	background-color: #f4511e;
	color: #FFF !important;
}
.companyName{
	text-align: center;
	background-color: #f4511e;
	color: #FFF !important;
}
.emailBox{
	text-align: center;
}
h3{
	color:blue;
}